<div class="masthead segment">
	<div class="ui stackable transparent inverted main top menu" ng-controller="HeaderCtrl">
        <a class="item large title" href="/">
            <span class="center">
                <strong>Task Bird</strong>
            </span>
        </a>
{% verbatim taskApp %}
        <a class="item large"
           ng-repeat="menuItem in menuItems"
           ng-class="{active: isActive(menuItem.path)}"
           href="{{menuItem.path}}">
            <span class="center">
                <i class="{{menuItem.icon}} icon"></i>
                {{menuItem.title}}
            </span>
        </a>
{% endverbatim taskApp %}

        <div class="bordlerless right item">
            <span class="center">
                <div class="ui dropdown">
                    {% if not user.first_name and not user.last_name %}
                        {{ user.username }}
                    {% else %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% endif %}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#/settings">Account Settings</a>
                        <a class="item" href="{% url 'logout' %}?next=/"> Logout </a>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
