<div class="masthead segment">
	<div class="ui stackable transparent inverted main top menu" ng-controller="HeaderCtrl">
        <a class="item large title" href="/">
            <strong>Task Bird</strong>
        </a>
{% verbatim taskApp %}
        <a class="item large"
           ng-repeat="menuItem in menuItems"
           ng-class="{active: isActive(menuItem.path)}"
           href="{{menuItem.path}}">
            <i class="{{menuItem.icon}} icon">
            </i>
            {{menuItem.title}}
        </a>
{% endverbatim taskApp %}

        <div class="bordlerless right item">
            <div class="ui dropdown">
                {{ user.username }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#/settings">Account Settings</a>
                    <a class="item" href="{% url 'logout' %}?next=/"> Logout </a>
                </div>
            </div>
        </div>
    </div>
</div>
