{% extends "app/base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/taskbird.css' %}">

    <div class="app container" ng-view>
    </div>

    <!--
    <div class="main-container">
      <div class="ui small info message">
        <p>
          Want to try something new?
          You can check out a new version of TaskBird
          <a class="old-versoin-link" href="/v2/">here</a>.
        </p>
      </div>
    </div>
    -->

    <div id="loader-main" class="ui dimmer">
        <div class="ui large text loader">Loading</div>
    </div>

{% endblock %}
