{% extends "site/base.html" %}

{% block title %} About {% endblock %}

{% block body %}
    <p>
        Task Bird is an awesome task management app created by
        <a href="http://clintonmorrison.com">Clinton Morrison</a>.
        It is intended to provide an easy and efficient way to keep
        track of your work. Task Bird is very new and still under development.

        This means it might be rough around
        the edges but is getting better every day.

        We would love to hear your feedback and suggestions.
    </p>

    <p>
        This app is completely free to use.
        There are no ads and no subscription is necessary.
    </p>

    <p>
        Task Birds is powered by some great open source projects:
        <ul>
            <li>jQuery</li>
            <li>Lodash</li>
            <li>AngularJS</li>
            <li>Django</li>
            <li>Tastypie</li>
        </ul>
    </p>

    <p>
        For those who are interested, the source code for this website is available
        <a href="https://github.com/ClintonMorrison/taskbird">here</a>.
    </p>

{% endblock %}

