<div class="masthead segment">
	<div class="ui stackable transparent inverted main top menu">

			<a class="item large title" href="{{baseURL}}">
                 <span class="center"><strong>Task Bird</strong></span>
			</a>

			<a class="item large" href="/">
                <span class="center">Home</span>
            </a>

			<a class="item large" href="/features">
                <span class="center">Features</span>
            </a>

			<a class="item large" href="/about">
                <span class="center">About</span>
            </a>

			<a class="item large" href="/contact">
                <span class="center">Contact</span>
            </a>

			<div class="borderless right item large" style="width: 250px;">
                <div class="ui two column wide grid">
                    <div class="column">
                        <a class="ui tiny wide blue button" style="margin-right: 10px" href="/login">Login</a>
                    </div>
                    <div class="column">
				        <a class="ui tiny wide orange button" style="" href="/signup">Sign Up</a>
                    </div>
                </div>
            </div>

			<!-- 
			<div class="bordlerless item">
				<div class="ui dropdown">
					Username
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="taskbird"> My Schedule </a>
						<a class="item" href="logout"> Logout </a>
					</div>
				</div>
			</div>
			-->

		</div>
	</div>
</div>
