<div class="masthead segment">
	<div class="ui transparent inverted main top menu">

		<div class="left menu">
			<a class="item large title" href="{{baseURL}}">
				<strong>Task Bird</strong>
			</a>
		</div>		

		<div class="right menu">
			<a class="item large" href="/">Home</a>
			<a class="item large" href="/features">Features</a>
			<a class="item large" href="/about">About</a>
			<a class="item large" href="/contact">Contact</a>
			

			<div class="borderless item large">
            <a class="ui tiny blue button" style="margin-right: 10px" href="/login">Login</a> 
				<a class="ui tiny orange button" style="" href="/signup">Sign Up</a> 
         </div>

			<!-- 
			<div class="bordlerless item">
				<div class="ui dropdown">
					Username
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="taskbird"> My Schedule </a>
						<a class="item" href="logout"> Logout </a>
					</div>
				</div>
			</div>
			-->

		</div>
	</div>
</div>
