{% extends "base.html" %}

{% block header %}
    {% include "site/header.html" %}
{% endblock %}

{% block content %}
    <script type="text/javascript">

        (function () {
            window.MarqueeTitle = {};
            var MarqueeTitle = window.MarqueeTitle;
            MarqueeTitle.elapsedTime = 0;
            MarqueeTitle.title = '';
            MarqueeTitle.events = [];

            MarqueeTitle._update = function (interval) {

                if (!MarqueeTitle.events || MarqueeTitle.events.length === 0) {
                    console.log(MarqueeTitle.events);
                    return;
                }

                console.log("Running _update() after ", interval, " Time is now: ", MarqueeTitle.elapsedTime);
                var event = MarqueeTitle.events[0];
                if (MarqueeTitle.elapsedTime >= event.time) {
                    MarqueeTitle.events.push(MarqueeTitle.events.shift());
                    document.title = MarqueeTitle.events[0].text;
                    MarqueeTitle.elapsedTime = 0;
                }
                MarqueeTitle.elapsedTime += interval;
                setTimeout(function () {MarqueeTitle._update(interval);}, interval);
            };

            var _generateBasicAnimation = function (title) {
                var i, events = [];
                for (i = 0; i < title.length; i++) {
                    events.push({text: title.substr(0, i), time: 300});
                }
                return events;
            };

            MarqueeTitle.init = function(text, animation) {
                MarqueeTitle.title = text;
                document.title = '';
                MarqueeTitle.events = _generateBasicAnimation(text);
                MarqueeTitle._update(100);
            };
        })();
    </script>
    <div class="main-container">
        <div class="ui segment attached top">
            <h1 class="ui header">
                <div class="content">
                    Task Bird
                    <div class="sub header">
                        A better way to get work done and stay organized.
                    </div>
                </div>
            </h1>
        </div>

        <div class="ui bottom attached segment">
             <img class="ui centered fluid image" style="width: 70%" src="{{ STATIC_URL }}images/sample.png"/>
        </div>
        <br/><br/>

        <div class="ui three column stackable grid">
            <div class="ui column">
                <div class="ui segment">
                    <i class="ui center massive checkmark box icon"></i>
                    <h3 class="ui header">
                        <div class="content">
                            Tasks
                            <div class="sub header">
                                Create, schedule, prioritize, and filter your tasks.
                            </div>
                        </div>
                    </h3>
                </div>
            </div>

            <div class="ui column">
                <div class="ui segment">
                    <i class="ui center massive tasks icon"></i>
                    <h3 class="ui header">
                        <div class="content">
                            Projects
                            <div class="sub header">
                                Stay organized by grouping your tasks into projects.
                            </div>
                        </div>
                    </h3>
                </div>
            </div>

            <div class="ui column">
                <div class="ui segment">
                    <i class="ui center massive bar chart icon"></i>
                    <h3 class="ui header">
                        <div class="content">
                            Analytics
                            <div class="sub header">
                                Track progress and gain insight from trends.
                            </div>
                        </div>
                    </h3>
                </div>
            </div>

            <!--
            <div class="ui column">
                <div class="ui segment">
                    <i class="ui center massive dollar icon"></i>
                    <h3 class="ui header">
                        <div class="content">
                            Free
                            <div class="sub header">
                                Task Bird is completely free to use.
                            </div>
                        </div>
                    </h3>
                </div>
            </div>
            -->

        </div>

        <br/><br/>

        <a class="ui green massive center button" style="width: 60%" href="/signup">
            Get Started Now
        </a>

    </div>


{% endblock %}
