{% extends "site/base.html" %}
{% block title %} Login {% endblock %}

{% block body %}
    <p>Currently a Google account is required to use Task Bird. More login options are coming soon!</p> <br/>

    <a class="ui google plus button" href="{% url "social:begin" "google-oauth2" %}">
      <i class="google plus icon"></i>
      Login with Google
    </a>

    <!--
    <form action="/login/" method="post" class="ui form">
    {% csrf_token %}
        <div class="field">
            <label> Email </label>
            <input type="text" name="username" placeholder="">
        </div>

        <div class="field">
            <label> Password </label>
            <input type="password" name="password" placeholder="">
        </div>

        <input class='ui blue button' type="submit" value="Submit">
    </form>


    <br/><br/>
    <p><a href="/requestPasswordReset">Forgot your password?</a></p>
    -->
{% endblock %}
