{% extends "base.html" %}

{% block header %}
    {% include "site/header.html" %}
{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/site.css' %}">
    <div class="main-container">

        <div class="ui one column grid">
            {% for feature in features %}
                <div class="ui column">
                    <div class="ui segment attached top">
                        <h2 class="ui header">
                            <div class="content">
                                {{ feature.title }}
                            </div>
                        </h2>
                    </div>
                    <div class="ui bottom attached segment">
                        <div class="ui two column grid">
                            <div class="ui column four wide" style="max-width: 100px">
                                <i class="ui huge middle aligned {{ feature.icon }} icon"></i>
                            </div>
                            <div class="ui column twelve wide">
                                <p>
                                    {{ feature.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <br/><br/>

        <a class="ui green massive center button" style="width: 60%" href="/login">
            Get Started Now
        </a>

    </div>


{% endblock %}
