*.sw[po]

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
taskbird/settings.py
taskbird/migrations
manage.py

# Database
*.sqlite3

# Apache
.htaccess
*.fcgi
