
<div class="main-container">
    <div class="ui top attached segment">
      <h3 class="ui header">Date Range</h3>
    </div>
    <div class="ui bottom attached segment form">
        <div class="two fields">
            <div class="field">
                <label>Start Date</label>
                <task-datepicker ng-model="startDate">
                </task-datepicker>
            </div>

            <div class="field">
                <label>End Date</label>
                <task-datepicker ng-model="endDate">
                </task-datepicker>
            </div>
        </div>
    </div>

    <div class="ui top attached segment">
        <h3 class="ui header">Productivity</h3>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui two one stackable grid">
            <div class="column">
                <div fusioncharts
                     ng-if="tasksByDate"
                     width="100%"
                     type="msline"
                     dataSource="{{tasksByDate}}">
                </div>
            </div>
        </div>
    </div>

    <div class="ui top attached segment">
        <h3 class="ui header">Project Statistics</h3>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui two column stackable grid">
            <div class="column">
                <div fusioncharts
                     ng-if="tasksCreatedByProject"
                     width="100%"
                     type="column2d"
                     dataSource="{{tasksCreatedByProject}}">
                </div>
            </div>

            <div class="column">
                 <div fusioncharts
                     ng-if="tasksDoneByProject"
                     type="column2d"
                      width="100%"
                     dataSource="{{tasksDoneByProject}}">
                </div>
            </div>

        </div>


    </div>


    <div class="ui top attached segment">
        <h3 class="ui header">Trends</h3>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui two column stackable grid">
            <div class="column">
                <div fusioncharts
                     ng-if="tasksCreatedByDayOfWeek"
                     type="column2d"
                     width="100%"
                     dataSource="{{tasksCreatedByDayOfWeek}}">
                </div>
            </div>
            <div class="column">
                <div fusioncharts
                     ng-if="tasksDoneByDayOfWeek"
                     type="column2d"
                     width="100%"
                     dataSource="{{tasksDoneByDayOfWeek}}">
                </div>
            </div>
        </div>
    </div>
</div>

