<div class="main-container">

    <div class="ui top attached segment">
      <h3 class="ui header">Account Settings</h3>
    </div>
    <div class="ui bottom attached segment form">

        <div class="three fields">
            <div class="field">
                <label> First Name </label>
                <input type="text" name="first_name" placeholder=""/>
            </div>

            <div class="field">
                <label> Last Name </label>
                <input type="text" name="last_name" placeholder=""/>
            </div>

            <div class="field">
                <br/>
                <div class="right ui blue button">Submit</div>
            </div>
        </div>

        <!--
        <div class="field">
            <p>
                Your email address "{{user.email}}" is not verified.
                <div class="ui button">Resend Ve</div>
            </p>
        </div>
        <div class="field">
            <div class="ui button">Reset Password</div>
        </div>
        -->
    </div>


    <!--
    <div class="ui top attached segment">
      <h3 class="ui header">Subscription Settings</h3>
    </div>
    <div class="ui bottom attached segment form">
        <div class="two fields">
            <div class="field">
                <task-checkbox label="Receive reminder emails" ng-model="userSettings.reminderOptin"></task-checkbox>
            </div>

            <div class="field">
                <task-checkbox label="Receive promotional emails" ng-model="userSettings.promoOptin"></task-checkbox>
            </div>
        </div>
    </div>
    -->
    <!--
    <div class="ui top attached segment">
        <h3 class="ui header">Directive Test</h3>
    </div>

    <div class="ui bottom attached segment">

        <div class="ui button" popup-trigger>Show fluid popup</div>
        <div class="ui fluid popup top left transition hidden">
          <div class="ui four column divided center aligned grid">
            <div class="column">1</div>
            <div class="column">2</div>
            <div class="column">3</div>
            <div class="column">4</div>
          </div>
        </div>
        <br/><br/>

        <div class="ui purple button" ng-click="testClick()">Test</div>

        <br/><br/>

        <action-selector actions="testActions"></action-selector>

        <br/><br/>
        <object-editor object="task"></object-editor>
        <collection-view filters="filters" resources="task,project"></collection-view>
    </div>
    -->

</div>
