
#content {
padding: 1em;

}

#content .main-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 900px;
}

.center, i.icon.center, .ui.button.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.right {
	float: right;
}

.left {
	float: left;
}

.wide {
  width: 100%;
}

.ui.unpadded.grid div.column {
  padding-top: 0;
  padding-bottom: 5px;
}

.limit-width {
    max-width: 800px;
}

div.ui.attached.bottom.segment {
    margin-bottom: 15px;
}

.strikeout {
    text-decoration: line-through;
}