
/* CALENDAR STYLES */

.calendar td:hover {
	background-color: #6ECFF5;
	transition: background-color 150ms ease-in;
}

.calendar i:hover {
	color: #6ECFF5;
	transition: color 150ms ease-in;
}

.disabled {
	color: #CCC;
}

.ui.table.tasks tbody tr:hover:nth-child(n) {
	background-color: #6ECFF5;
	transition: background-color 150ms ease-in;
}

.selected {
	background-color: #6ECFF5;
	transition: background-color 150ms ease-in;
}

.hidden {
	display: none !important;
}

.clickable {
    cursor: pointer;
}

#content .app.container {
  min-width: 300px;
}

.ui.selection.list {
	margin: 0;
	margin-top: 5px;
}
.day.message {
    padding: 5px;
    font-size: 20%;
}

.task-box .title {
	float: left;
	display: inline-block;
}

.task-box .header {
	clear: both;
	padding-top: 5px;
	padding-bottom: 10px;
}

.task-box .date {
	float: right;
	display: inline-block;
	font-weight: 200;
	color: rgba(0,0,0,0.7)
}

.task-search {
	width: calc(100% - 180px);
    float: right;
}

.task-filter {
	width: 170px;
}

.task-project-icon {
	float: right;
}

.task-checkbox {
	padding-top: 6px !important;
}

.ui.list.relaxed.divided.list .task.item {
    padding-left: 10px;
    padding-right: 10px;
}

.centered-message-box {
	height: 100%;
}

.centered-container {
	height: 100%;
}

.centered-container div,  .centered-container div.ui.message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.data.grid {
    min-height: 320px;
}

.details.column {
	min-height: 100px;
}