.ui.secondary.menu.filter-links {
  display: flex;
  margin-bottom: -1em;
  overflow-x: auto;
  overflow-y: hidden;
}

.ui.secondary.menu.filter-links .item {
  margin-bottom: 1em;
}

.field {
  display: flex;
  justify-content: space-between;
}

.dropdown-wrapper {
  width: 100%;
}

label {
  padding-right: 1em;
}