.colors {
  width: 100%;

  button {
    width: calc(33% - .25em);
    min-height: 6.5em;

    margin-bottom: .25em;

    @media screen and (max-width: 360px) {
      width: calc(50% - .25em);
    }
  }
}

.field {
  button {
    text-align: left;
  }
}
