<div class="ui" ng-class="{buttons: actions.length > 1}">
  <div class="ui {{color}} button" ng-click="actionMap[selectedName].callback()">
      {{actionMap[selectedName].title}}
  </div>
  <dropdown class="ui floating dropdown icon {{color}} button" ng-model="selectedName" ng-show="actions.length > 1">
    <i class="dropdown icon"></i>
    <div class="menu">
      <div ng-repeat="action in actions" class="item" data-value="{{action.name}}">
          <i class="icon" ng-class="action.icon"></i>
          {{action.name}}
      </div>
    </div>
  </dropdown>
</div>