<div>
    <div class="ui top attached segment" ng-show="!hideFilterOptions">
        <div class="ui stackable two column grid">
            <div class="ui column seven wide">
                <action-selector actions="createActions" color="blue"></action-selector>
                <a ng-class="{hidden: !selectedObject}" ng-click="deleteObject(selectedObject)" class="ui negative labeled icon button" >
                    <i class="trash icon"></i> Delete
                </a>
            </div>

            <div class="ui column nine wide">
                <div class="ui floating labeled icon button task-filter" popup-trigger>
                     <i class="filter icon"></i>
                    <span class="text">Filter</span>
                </div>
                <div class="ui popup transition hidden vertical menu" style="min-width: 250px">
                        <!-- Select project -->
                        <div class="item">
                            <div class="header">Project</div>
                            <project-selector ng-model="filters.selectedProject" projects="projects"></project-selector>
                        </div>

                        <!-- Select time range -->
                        <div class="item">
                            <div class="header">Time Range</div>
                            <dropdown class="ui fluid search selection dropdown" ng-model="filters.dateRange">
                                <input type="hidden">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select Time</div>
                                <div class="menu">
                                    <div class="item" data-value="this:day">
                                        <i class="icon calendar"></i>
                                        Today
                                    </div>
                                    <div class="item" data-value="this:week">
                                        <i class="icon calendar"></i>
                                        This Week
                                    </div>
                                    <div class="item" data-value="this:month">
                                        <i class="icon calendar"></i>
                                        This Month
                                    </div>
                                    <div class="item" data-value="days:+:7">
                                        <i class="icon forward"></i>
                                        Next 7 Days
                                    </div>
                                    <div class="item" data-value="days:+:30">
                                        <i class="icon fast forward"></i>
                                        Next 30 Days
                                    </div>
                                    <div class="item" data-value="days:-:7">
                                        <i class="icon backward"></i>
                                        Last 7 Days
                                    </div>
                                    <div class="item" data-value="days:-:30">
                                        <i class="icon fast backward"></i>
                                        Last 30 Days
                                    </div>
                                    <div class="item" data-value="all">
                                        <i class="icon history"></i>
                                        All
                                    </div>
                                </div>
                            </dropdown>
                        </div>

                        <!-- Select sort order -->
                        <div class="item">
                            <div class="header">Sort By</div>
                            <dropdown class="ui fluid search selection dropdown" ng-model="filters.sortBy">
                                <input type="hidden">
                                <i class="dropdown icon"></i>
                                <div class="default text">Sort By</div>
                                <div class="menu">
                                    <div class="item" data-value="targetDate">
                                        <i class="icon wait"></i>
                                        Date
                                    </div>
                                    <div class="item" data-value="title">
                                        <i class="icon font"></i>
                                        Title
                                    </div>
                                    <div class="item" data-value="description">
                                        <i class="icon unordered list"></i>
                                        Description
                                    </div>
                                </div>
                            </dropdown>
                        </div>


                        <!-- Misc options -->
                        <div class="item">
                            <div class="header">Other Options</div>
                            <div class="field" style="padding: 10px; font-weight: normal">
                                <task-checkbox label="Show completed tasks" ng-model="filters.showDoneTasks"></task-checkbox>
                            </div>
                        </div>


                </div>

                <div class="ui icon task-search input">
                    <input type="text" placeholder="Search" ng-model="filters.search"><i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui bottom attached segment">
        <div class="ui stackable two column data grid">
            <div class="ui column">

                <div class="ui relaxed divided list">
                    <div class="task item"
                         ng-repeat = "object in collection | applyResourceFilters:filters"
                         ng-class  = "{selected: object == selectedObject}">

                        <div class="ui three column grid">
                            <div class="column one wide">
                                <i class="large clickable icon task-checkbox"
                                   ng-class="object.getBigIcon()"
                                   ng-click="">
                                </i>
                                <!--<i class="large clickable {{priorityColors[task.priority]}} icon task-checkbox"
                                   ng-class="{'checkmark box': !!object.data.done, 'square outline thin':!task.done}"
                                   ng-click="">
                                </i>-->
                            </div>

                            <div class="column fourteen wide">
                              <div class="wide content clickable task-box" ng-click = "selectObject(object)">

                                  <div class="ui grid">
                                      <div class="column twelve wide" style="padding-bottom: 0;">
                                        <div class="title">
                                            {{object.data[object.config.forms.collection.title]}}
                                        </div>
                                      </div>
                                      <div class="column four wide">
                                          <div class="date" ng-show="object.config.forms.collection.targetDate">
                                            {{object.data[object.config.forms.collection.targetDate] | toEnglishDate}}
                                          </div>
                                      </div>
                                  </div>

                                    <div class="clear"></div>
                                    <br/>

                                    <div class="ui grid">
                                        <div class="truncated column thirteen wide description">
                                            {{object.data[object.config.forms.collection.description]}}
                                        </div>
                                        <div class="column three wide" ng-if="object.data.project">
                                            <i class="mini right {{object.getSmallIcon()}} icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <object-editor object="selectedObject"></object-editor>
        </div>



    </div>
</div>