<div class="ui details column">

    <div class="centered-container">
        <div class="ui message" ng-show="!object">
            <p>Click an item to view its details.</p>
        </div>
     </div>

    <form class="ui form" ng-show="object">
       <div ng-repeat="fields in object.config.forms.edit" class='' ng-class="{'two fields': fields.length == 2}">
           <div ng-repeat="field in fields" class="field" ng-switch="object.config.fields[field].type.name">
               <label>{{object.config.fields[field].label}}</label>
               <textarea ng-switch-when="text" ng-model="object.data[field]" rows="2"></textarea>
               <task-datepicker ng-switch-when="date" ng-model="object.data[field]"></task-datepicker>
               <task-checkbox ng-switch-when="boolean" ng-model="object.data[field]"></task-checkbox>

               <dropdown ng-switch-when="choice" class="ui fluid search selection dropdown" ng-model="object.data[field]">
                   <i class="dropdown icon"></i>
                   <div class="default text">Select {{name}}</div>
                   <div class="menu">
                       <div class="item" ng-repeat="option in object.config.fields[field].type.choices" data-value="{{option.value}}">
                           <i class="{{option.icon}} icon"></i>
                           {{option.label | capitalize}}
                       </div>
                   </div>
               </dropdown>

               <project-selector ng-switch-when="projectDropdown" ng-model="object.data[field]" projects="projects"></project-selector>

               <input type="text" ng-switch-default ng-model="object.data[field]">
           </div>
           <br/>
       </div>
    </form>
</div>

