a {
  color: black;
  display: block;
  line-height: 1;
  font-size: .75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &.done {
    text-decoration: line-through;
  }
}
