
<div class="ui bottom attached" ng-controller="CalendarCtrl" >


    <div class="calendar">

        <div class="ui three column grid">
            <div class="column">
                <div class="ui left mini icon button" ng-click="incrementMonth(-1)">
                    <i class="icon reply mail"></i>
                </div>
            </div>

            <div class="column">
                <h3 class="ui center aligned icon header">
                    {{currentDate}}
                </h3>
            </div>

            <div class="column">
                <div class="ui right mini icon button" ng-click="incrementMonth(1)">
                    <i class="icon forward mail"></i>
                </div>
            </div>
        </div>
        <table class="ui celled top attached unstackable calendar table segment" style="max-width: 100%">
            <thead>
                <th ng-repeat="day in days">
                    <span ng-show="windowSize.width >= 576">{{day.title}}</span>
                    <span ng-show="windowSize.width < 576 && windowSize.width > 350">{{day.mediumTitle}}</span>
                    <span ng-show="windowSize.width <= 350">{{day.shortTitle}}</span>
                </th>
            </thead>

            <tbody>
                <tr ng-repeat="week in weeks" >
                    <td  ng-repeat="day in week.days"
                         class="day"
                         ng-click="selectDay(day)"
                         ng-class="{selected: day.number == selectedDay.number, important: day.tasks.length > 0, today: todaysDate == day.date}">

                        <div class="day-container">
                            <b class="date" ng-class="{disabled: day.disabled == true}">{{day.number}}</b>

                            <span class="right task-list" ng-show="day.tasks.length > 0 && windowSize.width >= 576">
                                <span ng-repeat="task in day.tasks|top:2" ng-class="{strikeout: task.done}">
                                    {{task.title | preview: 10}}<br/>
                                </span>
                                <span ng-show="day.tasks.length > 2">...</span>

                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="selectedDay && selectedDay.tasks.length > 0">
            <task-viewer tasks="selectedDay.tasks" hide-filter-options="1" filter-project="filterProject" show-done-tasks="showDoneTasks"></task-viewer>
        </div>
    </div>


</div>

