<div class="main-container">

    <div class="ui top attached segment">
      <h3 class="ui header">Account Settings</h3>
    </div>
    <div class="ui bottom attached segment form">

        <div class="three fields">
            <div class="field">
                <label> First Name </label>
                <input type="text" name="first_name" placeholder=""/>
            </div>

            <div class="field">
                <label> Last Name </label>
                <input type="text" name="last_name" placeholder=""/>
            </div>

            <div class="field">
                <br/>
                <div class="right ui blue button">Submit</div>
            </div>
        </div>

        <!--
        <div class="field">
            <p>
                Your email address "{{user.email}}" is not verified.
                <div class="ui button">Resend Ve</div>
            </p>
        </div>
        <div class="field">
            <div class="ui button">Reset Password</div>
        </div>
        -->
    </div>


    <!--
    <div class="ui top attached segment">
      <h3 class="ui header">Subscription Settings</h3>
    </div>
    <div class="ui bottom attached segment form">
        <div class="two fields">
            <div class="field">
                <task-checkbox label="Receive reminder emails" ng-model="userSettings.reminderOptin"></task-checkbox>
            </div>

            <div class="field">
                <task-checkbox label="Receive promotional emails" ng-model="userSettings.promoOptin"></task-checkbox>
            </div>
        </div>
    </div>
    -->

</div>