<div class="ui bottom attached segment" ng-controller="TasksCtrl">

    <div class="ui stackable two column grid">
        <div class="ui column seven wide">
            <a class="left ui blue labeled icon button" ng-click="createTask()">
                <i class="add icon"></i> New Task
            </a>

            <a ng-class="{hidden: selectedTask==false}" ng-click="deleteTask(selectedTask)" class="ui negative labeled icon button" >
                <i class="trash icon"></i> Delete
            </a>
        </div>

        <div class="ui column nine wide">
            <div class="ui floating labeled icon dropdown button task-filter" ng-model="filterProject">
                <i class="filter icon"></i>
                <span class="text">Select Project</span>
                <div class="menu">
                    <div class="item" data-value="all">All Tasks</div>
                    <div class="item" ng-repeat="project in projects" data-value="{{project.id}}">
                        <i class="{{project.color}} {{project.icon}} icon"></i>
                        {{project.title}}
                    </div>
                    <div class="divider"></div>
                    <div class="field" style="padding: 10px; font-weight: normal">
                        <task-checkbox label="Show completed tasks" ng-model="showDoneTasks"></task-checkbox>
                    </div>
                </div>
            </div>

            <div class="ui icon task-search input">
                <input type="text" placeholder="Search" ng-model="query"><i class="search icon"></i>
            </div>
        </div>
    </div>

    <br/>

    <div class="ui stackable two column data grid">
        <div class="ui column">

            <div class="ui relaxed divided list">
                <!-- | filter:isNotDoneFilter -->
                <div class="task item"
                     ng-repeat = "task in tasks | filter:query | withProjectID:filterProject | filterOutDone:showDoneTasks | orderBy:date_due"
                     ng-class  = "{selected: task.id == selectedTask.id}">

                    <i class="large clickable {{priorityColors[task.priority]}} icon task-checkbox"
                       ng-class="{'checkmark box': !!task.done, 'square outline thin':!task.done}"
                       ng-click="doneTask(task)">
                    </i>

                    <div class="wide content clickable task-box" ng-click = "selectTask(task)">
                        <div class="header">
                            <div class="title">
                                {{task.title | limitTo: 30}}
                            </div>

                            <div class="date">
                                {{task.date_due | toEnglishDate}}
                            </div>
                        </div>

                        <div class="clear"></div>
                        <br/>
                        <div class="description">
                            {{task.description | limitTo:40}}
                            <span class="task-project-icon" ng-if="task.projects[0]">
                                <i class="mini {{projectMap[task.projectID].icon}} {{[projectMaptask.projectID].color}} icon"></i>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ui column">
            <div class="centered-container">
                <div class="ui message" ng-show="!selectedTask">
                    <p>Click a task to view its details.</p>
                </div>
             </div>
            <form class="ui form" ng-show="selectedTask.id">
                <div class="field">
                    <label>Title</label>
                    <input type="text" placeholder="My Task" ng-model="selectedTask.title">
                </div>

                <div class="field">
                    <label>Details</label>
                    <textarea placeholder="Task description" ng-model="selectedTask.description" rows="2">
                    </textarea>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Priority</label>
                        <div class="ui fluid search selection dropdown" ng-model="selectedTask.priority">
                            <input type="hidden" name="selectedTask.priority">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Priority</div>
                            <div class="menu">
                                <div class="item" ng-repeat="priority in priorities" data-value="{{priority.name}}">
                                    <i class="{{priority.color}} circle icon"></i>
                                    {{priority.name}}
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="field">
                        <label>Due Date</label>
                        <task-datepicker ng-model="selectedTask.date_due">
                        </task-datepicker>
                    </div>

                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Project</label>
                        <div class="ui fluid search selection dropdown" ng-model="selectedTask.projectID" placeholder="Select Project">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Project</div>
                            <div class="menu">
                                <div class="item" data-value="false">Select Project</div>
                                <div class="item" ng-repeat="project in projects" data-value="{{project.id}}">
                                    <i class="{{project.color}} {{project.icon}} icon"></i>
                                    {{project.title}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <br/>
                        <div class="ui blue icon button" ng-click="createProject()">
                            <i class="ui plus icon"></i>
                            New Project
                        </div>
                    </div>
                </div>

                <div class="two fields">

                    <div class="field">
                        <task-checkbox label="Task complete" ng-model="selectedTask.done"></task-checkbox>
                        <!--
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Task complete</label>
                        </div>
                     -->
                    </div>

                    <div class="field">
                        <!--
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Send reminder</label>
                        </div>
                        -->
                    </div>
               </div>

            </form>
        </div>
    </div>

</div>

