<div class="heading ui top attached segment">
  <a
    routerLink="{{ previousMonthRoute }}"
    class="ui icon button">
    <i class="icon chevron left"></i>
    <span class="hidden-on-small">Previous Month</span>
  </a>

  <h1>
    <div class="hidden-on-small">{{ getLongTitle() }}</div>
    <div class="visible-on-small">{{ getShortTitle() }}</div>
  </h1>

  <a
    routerLink="{{ nextMonthRoute }}"
    (click)="goToNext()"
    class="ui icon button">
    <span class="hidden-on-small">Next Month</span>
    <i class="icon chevron right"></i>
  </a>
</div>

<taskbird-calendar
  (dateSelected)="handleDateSelected($event)"
  [selectedDay]="selectedDay"
  [bottomAttached]="true"
  [month]="month">
</taskbird-calendar>

<div id="calendar-tasks"></div>

<div
  *ngIf="selectedDay && taskIds"
  class="selected-day-tasks">
  <div class="ui top attached segment">
    <h2>Tasks for {{ getSelectedDayTitle() }}</h2>
  </div>
  
  <div class="ui bottom attached segment">
    <taskbird-create-task-button
      [fields]="{ date_due: selectedDay.toMoment().format() }">
    </taskbird-create-task-button>

    <div class="tasks">
      <taskbird-tasks
        noContentMessage="There are no tasks on this day."
        [taskIds]="taskIds"></taskbird-tasks>
    </div>
  </div>
</div>
