.project {
  padding-bottom: 2em;
  margin-bottom: 2em !important;
  width: 100%;
}

.actions {
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
}

.project-heading {
  margin-bottom: 1em;
}
