<table class="ui celled fixed unstackable calendar table" [ngClass]="{'bottom attached': bottomAttached }">
  <thead>
    <tr>
      <th *ngFor="let day of daysOfWeek">
        <taskbird-weekday-title [weekday]="day"></taskbird-weekday-title>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let week of weeks">
      <td *ngFor="let day of week">
        <taskbird-calendar-day
          (dateSelected)="handleDateSelected($event)"
          [date]="day.date"
          [tasks]="day.tasks"
          [today]="dayIsToday(day.date)"
          [selected]="dayIsSelected(day.date)"
          [active]="dayIsInCurrentMonth(day.date)"></taskbird-calendar-day>
      </td>
    </tr>
  </tbody>
</table>
