<div class="calendar">
  <table class="ui celled unstackable table">
    <thead>
      <tr>
        <th *ngFor="let day of daysOfWeek">
          <weekday-title [weekday]="day"></weekday-title>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let week of getWeeks()">
        <td *ngFor="let day of week">
          <calendar-day
            (dateSelected)="handleDateSelected($event)"
            [date]="day.date"
            [tasks]="day.tasks"
            [today]="dayIsToday(day.date)"
            [selected]="dayIsSelected(day.date)"
            [active]="dayIsInCurrentMonth(day.date)"></calendar-day>
        </td>
      </tr>
    </tbody>
  </table>
</div>
