<div class="project ui segment">
  <div class="project-heading">
    <taskbird-project-heading [project]="project"></taskbird-project-heading>
  </div>

  <taskbird-project-progress-bar [doneTasks]="doneTasks" [totalTasks]="totalTasks">
  </taskbird-project-progress-bar>

  <div class="actions">
    <div>
    <button (click)="editProject()" class="ui button">
      Edit Project
    </button>
    </div>
    
    <div>
      <a [routerLink]="['/tasks', project.id]" class="ui primary button">
        View Tasks
      </a>
    </div>  
  </div>
</div>

