<div class="project ui segment">
  <h2 class="heading">
    {{ project.title }}
    <i class="icon {{project.icon}} {{project.color}}"></i>
  </h2>
  <taskbird-project-progress-bar [doneTasks]="doneTasks" [totalTasks]="totalTasks">
  </taskbird-project-progress-bar>

  <div class="actions">
    <div>
    <button (click)="editProject()" class="ui button">
      Edit Project
    </button>
    </div>
    
    <div>
      <a [routerLink]="['/tasks', project.id]" class="ui primary button">
        View Tasks
      </a>
    </div>  
  </div>
</div>

