a {

  i {
    &.check:not(.done) {
      display: none;
    }

    &:not(.check) {
      display: inline-block;
    }
  }
  

  &:hover {
    i {
      &.check {
        display: inline-block;
      }

      &:not(.check) {
        display: none;
      }
    }
  }
}