<div class="field">
  <label>Date Due</label>
  <div class="ui action input">
    <input (click)="showModal()" type="text" readonly [(ngModel)]="dateString" />
    <button (click)="clearDate()" class="ui icon negative button">
      <i class="trash alternate icon"></i>
    </button>
  </div>
</div>

<taskbird-modal 
  (modalClosed)="modalClosed($event)"
  title="Select a Date">

  <div class="heading">
    <button (click)="goToPrevious()" class="ui icon button">
      <i class="icon chevron left"></i>
    </button>
    
    <h3>{{monthString}}</h3>
    
    <button (click)="goToNext()" class="ui icon button">
      <i class="icon chevron right"></i>
    </button>
  </div>

  <table class="ui celled fixed unstackable table">
    <thead>
      <tr>
        <th *ngFor="let day of daysOfWeek">
         {{ day }}
        </th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let week of weeksForMonth">
        <td *ngFor="let date of week">
          <calendar-day (dateSelected)="handleDateSelected($event, date)" [date]="date" [tasks]="[]" [today]="dayIsToday(date)"
            [selected]="dayIsSelected(date)" [active]="dayIsInCurrentMonth(date)"></calendar-day>
        </td>
      </tr>
    </tbody>
  </table>
</taskbird-modal>
