.field {
  margin-top: 1em !important;

  .icon.button {
    max-width: 3em;
  }

  .date.button {
    text-align: left;
  }
}

table {
  width: 100%;

  td,
  th {
    @media screen and (max-width: 381px) {
      font-size: 80%;
    }
  }

  td,
  th {
    width: 14.28%;
  }

  td {
    padding: 0;
    width: 100% !important;

    /deep/ a {
      max-height: 3.25em;
    }
  }
}

.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 0;
  }
}
