.top-row {
  display: flex;
  justify-content: space-between;
}

.right-controls {
  * + * {
    margin-left: 1em;
  }
}

.control {
  display: inline-block;
}

  @media screen and (max-width: 650px) {
    .top-row {
      flex-wrap: wrap;
    }

    .control {
      margin-bottom: 1em;
      margin-left: 0;
    }

    .right-controls {
      width: 100%;

      * + * {
        margin-left: 0;
      }

      > * {
        width: 100%;
      }
    }

    .left-controls {
      width: 100%;

      .control,
      /deep/ button {
        width: 100%;
      }
    }
  }
