.top-row {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 550px) {
    display: block;

    .left-controls {
      .control {
        width: 100%;

        /deep/ button {
          margin-bottom: 1em;
          width: 100%;
        }
      }
    }

    .right-controls {
      width: 100%;
    }
  }
}

.right-controls {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 15em);
  > * + * {
    margin-left: 2em;
  }

  @media screen and (max-width: 1200px) {
    display: block;

    .field {
      margin-left: 0;
      margin-bottom: 1em;
    }
  }
}

.right-controls /deep/ {
  .field {
    align-items: baseline;
    display: flex;

    label {
      padding-right: 1em;
      white-space: nowrap;
      width: 5em;
    }
  }

  input,
  .dropdown {
    min-width: 14em;
    width: 100%;
    
    .icon {
      text-align: right;
    }
  }
}

.control {
  display: inline-block;

  /deep/ label {
    padding-right: 1em;
    white-space: nowrap;
  }
}
