<div class="filters">

  <div class="top-row">
    <div class="left-controls">
      <div class="control">
        <taskbird-create-task-button></taskbird-create-task-button>
      </div>
    </div>

    <div class="right-controls">
      <div class="control"><taskbird-sort-dropdown></taskbird-sort-dropdown></div>
      <div class="control"><taskbird-search-bar></taskbird-search-bar></div>
    </div>
  </div>

  <div class="ui divider"></div>
  
  <taskbird-project-filter></taskbird-project-filter>
</div>
