<div class="ui tasks">
  <task-item *ngFor="let task of tasks | slice:0:numberToShow" [task]="task"></task-item>
</div>

<div *ngIf="selectedTask" class="ui form">
  <taskbird-task-detail [task]="selectedTask"></taskbird-task-detail>
</div>

<div class="bottom-controls">
  <div>
    <button
      *ngIf="tasks.length > numberToShow"
      (click)="showMore()"
      class="ui secondary button show-more">
      Show More
    </button>
  </div>

  <taskbird-show-completed-toggle></taskbird-show-completed-toggle>
</div>