<div class="ui tasks">
  <task-item *ngFor="let taskId of taskIds | slice:0:numberToShow" [taskId]="taskId"></task-item>
</div>

<p class="tasks-count" *ngIf="numberToShow < taskIds.length">
  <em>Showing {{numberToShow}} of {{taskIds.length}} tasks</em>
</p>

<div class="bottom-controls">
  <div>
  <button
    *ngIf="taskIds.length > numberToShow"
    (click)="showMore()"
    class="ui compact secondary button show-more">
    Show More
  </button>
  </div>

  <taskbird-show-completed-toggle *ngIf="showCompletedToggle" ></taskbird-show-completed-toggle>
</div>