<div class="task"
    *ngFor="let task of tasks"
    [class.done]="task.done"
    [class.selected]="task === selectedtask">

  <div class="ui checkbox">
    <input aria-label="" type="checkbox" name="task-{{ task.id }}-done" [(ngModel)]="task.done">
    <label id="task-{{ task.id }}">
      <span class="sr-only">
        Mark task as complete, {{ task.title }}
      </span>
    </label>
  </div>

  <a (click)="onSelect(task)" class="task">
    <div class="title">{{task.title}}</div>

    <div class="details">
      <i *ngIf="task.project" class="icon {{ task.project.icon }} {{ task.project.color }}"></i>
      <i *ngIf="!task.project" class="thin circle icon"></i>

      <span class="priority-indicator">
        <i *ngIf="task.priority === 'High'" class="red long up arrow icon"></i>
        <i *ngIf="task.priority === 'Low'" class="green long down arrow icon"></i>
        <i *ngIf="task.priority === 'Normal'" class="minus icon"></i>
      </span>
    </div>
  </a>

</div>
