.task {
  border-bottom: 1px solid #c3c3c3;
  display: flex;
  justify-content: space-between;
  padding: 1em .5em;

  .item {
    color: rgba(0,0,0,.87);
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    width: 100%;
  }

   &.selected {
    background-color: #9ED6FF;
  }

  &.done {
    // background-color: #f2f2f2;

    .title {
      padding-left: .5em;
      text-decoration: line-through;
      font-style: italic;
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
  }
}
