<div class="task"
    [class.done]="task.done"
    [class.selected]="task === selectedtask">

  <div class="ui checkbox">
    <input aria-label="" type="checkbox" name="task-{{ task.id }}-done" [(ngModel)]="task.done">
    <label id="task-{{ task.id }}">
      <span class="sr-only">
        Mark task as complete, {{ task.title }}
      </span>
    </label>
  </div>

  <a (click)="onSelect($event)" class="item" href="#task-{{ task.id }}-done">
    <div class="top task-row">
      <div class="title">{{task.title}}</div>
      <div class="date-due">{{getDateDue()}}</div>
    </div>

    <div class="bottom task-row">
      <div class="description">{{getDescription()}}</div>
      <taskbird-project-icon [task]="task"></taskbird-project-icon>
    </div>
  </a>

  <taskbird-task-sidebar [task]="task"></taskbird-task-sidebar>
</div>
