.task {
  border-bottom: 1px solid #c3c3c3;
  display: flex;
  justify-content: space-between;
  padding: 0 .5em;

  .title {
    font-weight: bold;
  }

  .title,
  .description {
    max-width: calc(100% - 4em);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .item {
    color: rgba(0,0,0,.87);
    overflow: hidden;
    padding: 1em 0;
    margin-left: 1em;
    width: 100%;

    &:hover,
    &.selected {
      background-color: #9ED6FF;
    }
  }

  .task-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.top {
      align-items: flex-start;
      margin-bottom: .75em;
    }

    &.bottom {
      align-items: flex-end;
    }
  }

  .checkbox-wrapper {
    margin-top: 1em;
  }

  &:hover {
    background-color: #9ED6FF;
  }

  &.done {
    .description,
    .title {
      text-decoration: line-through;
      font-style: italic;
    }
  }
}
