{% load static %}

<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>

<!-- Confirm dialog -->
<div id="modal-confirm" class="ui small modal">
    <div class="header">
      <span class="modal-title"></span>
    </div>
    <div class="content">
      <p class="modal-content"></p>
    </div>
    <div class="actions">
      <div class="ui negative button">
        No
      </div>
      <div class="ui positive right labeled icon button">
        Yes
        <i class="checkmark icon"></i>
      </div>
    </div>
</div>

<!-- Alert message modal -->
<div id="modal-alert" class="ui small modal">
    <div class="header">
      <span class="modal-title"></span>
    </div>
    <div class="content">
      <p class="modal-content"></p>
    </div>
    <div class="actions">
      <div class="ui approve button">
        Okay
      </div>
    </div>
</div>


<!-- Prompt for text -->
<div id="modal-prompt" class="ui small modal">
    <div class="header">
      <span class="modal-title"></span>
    </div>
    <div class="content">
      <p class="modal-content"></p>
        <div class="ui input">
            <input id="modal-text-input" type="text">
        </div>
    </div>
    <div class="actions">
      <div class="ui negative button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Okay
        <i class="checkmark icon"></i>
      </div>
    </div>
</div>