.icons {
  margin-bottom: 1.5em;
  width: 100%;

  button {
    text-transform: capitalize;
    width: calc(25% - .5em);
    min-height: 5em;

    margin-bottom: .5em;
    margin-right: .5em;

    .icon-wrapper {
      margin-bottom: 1em;
    }

    @media screen and (max-width: 650px) {
      width: calc(33% - .5em);
    }

    @media screen and (max-width: 430px) {
      // width: calc(50% - .5em);
      .icon-name {
        display: none;
      }

      .icon-wrapper {
        margin-bottom: 0;
      }
    }
  }
}

.field {
  button {
    text-align: left;
  }
}
