a {
  color: black;
  border: 2px solid transparent;
  display: inline-block;
  height: 6.25em;
  padding: .5em;
  position: relative;
  width: 100%;
  word-wrap: break-word;

  &.selected {
    background-color: #e5f5ff;
    border: 2px solid #dadada;

    .number {
      text-decoration: underline;
    }
  }

  &.today {
    border: 2px solid black;
  }

  &.inactive {
    background-color: #f7f7f7;

    .number {
      font-weight: normal;
      font-style: italic;
    }
  }

  .number {
    font-weight: bold;
    margin-bottom: .5em;
  }
}

.task-count {
  position: absolute;
  bottom: .25em;
  right: .25em;
}