form {
  margin-bottom: 1.25rem;
}

.details-heading {
  display: flex;
  justify-content: space-between;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  height: 6em !important;
  min-height: 6em !important;
}

@media screen and (max-width: 500px) {
  .status-label {
    display: none;
  }
}
