<div *ngIf="task">
  <div class="details-heading">
    <h2>{{ task.title }}</h2>
    <div>
      <taskbird-status-label [task]="task"></taskbird-status-label>
    </div>
  </div>

  <form class="ui form">
    <div class="field">
      <label>Title</label>
      <input autofocus type="text" name="title" [(ngModel)]="task.title">
    </div>

    <div class="field">
      <label>Description</label>
      <textarea name="description" [(ngModel)]="task.description"></textarea>
    </div>
    
    <taskbird-priority-selector [task]="task"></taskbird-priority-selector>

    <taskbird-project-selector [task]="task"></taskbird-project-selector>

    <taskbird-due-date-picker [task]="task"></taskbird-due-date-picker>
  </form>
</div>