<div *ngIf="task">
  <div class="details-heading">
    <h2>{{ task.title }}</h2>
    <div class="status-label">
      <taskbird-status-label [task]="task"></taskbird-status-label>
    </div>
  </div>

  <form class="ui form">
    <div class="field">
      <label>Title</label>
      <input id="task-title" autofocus type="text" name="title" [(ngModel)]="task.title" (input)="updateTask()">
    </div>

    <div class="field">
      <label>Description</label>
      <textarea name="description" [(ngModel)]="task.description" (input)="updateTask()"></textarea>
    </div>
    
    <taskbird-priority-selector [task]="task"></taskbird-priority-selector>

    <taskbird-project-selector [projectId]="task.project && task.project.id" (projectChange)="updateTaskProject($event)"></taskbird-project-selector>

    <taskbird-due-date-picker [task]="task"></taskbird-due-date-picker>

    <div class="two-columns">
      <taskbird-task-checkbox [task]="task" [showLabel]="true"></taskbird-task-checkbox>
      <taskbird-saving-indicator [status]="task.status"></taskbird-saving-indicator>
    </div>

  </form>


  <div class="ui divider"></div>

  <taskbird-delete-task-button [task]="task"></taskbird-delete-task-button>
</div>
