<div class="heading ui top attached segment">
  <button
    (click)="goToPrevious()"
    class="ui icon button">
    <i class="icon chevron left"></i>
    <span class="hidden-on-small">Previous Month</span>
  </button>

  <h1>
    <div class="hidden-on-small">{{ getLongTitle() }}</div>
    <div class="visible-on-small">{{ getShortTitle() }}</div>
  </h1>

  <button
    (click)="goToNext()"
    class="ui icon button">
    <span class="hidden-on-small">Next Month</span>
    <i class="icon chevron right"></i>
  </button>
</div>

<div class="ui bottom attached segment">
  <calendar 
    (dateSelected)="handleDateSelected($event)"
    [selectedDay]="selectedDay"
    [month]="month">
  </calendar>
</div>

<div
  *ngIf="selectedDay && taskIds"
  class="selected-day-tasks">
  <div class="ui top attached segment">
    <h2>Tasks for {{ getSelectedDayTitle() }}</h2>
  </div>
  
  <div class="ui bottom attached segment">
    <taskbird-create-task-button
      [fields]="{ date_due: selectedDay.toMoment().format() }">
    </taskbird-create-task-button>

    <div *ngIf="taskIds.length === 0" class="ui message">
      <p>
        There are no tasks on this day.
      </p>
    </div>

    <div class="tasks">
      <taskbird-tasks [taskIds]="taskIds"></taskbird-tasks>
    </div>
  </div>
</div>

<taskbird-active-task-viewer></taskbird-active-task-viewer>
