<header class="ui stackable inverted main menu">
    <a class="item active">
        Task Bird
    </a>
    
    <a class="item" href="/features">
        Features
    </a>
    
    <a class="item" href="/about">
        About
    </a>

    <a class="item" href="/contact">
        Contact
    </a>
    
    <div class="ui borderless right item actions">
        <a class="ui mini blue compact button" href="/login">
            Login
        </a>
    
        <a class="ui mini orange compact button" href="/login">
            Sign Up
        </a>
    </div>

</header>
