<div *ngIf="project">
  <div class="details-heading">
    <h2>{{ project.title }}</h2>
    <div>
      <i className="large icon {{ project.icon }} {{ project.color }}"></i>
    </div>
  </div>

  <form class="ui form">
    <div class="field">
      <label>Title</label>
      <input autofocus type="text" name="title" [(ngModel)]="project.title" (input)="updateProject()">
    </div>

    <div class="field">
      <label>Description</label>
      <textarea name="description" [(ngModel)]="project.description" (input)="updateProject()"></textarea>
    </div>

    <taskbird-color-picker [project]="project"></taskbird-color-picker>

    <taskbird-icon-picker [project]="project"></taskbird-icon-picker>

    <div class="ui divider"></div>
    
    <taskbird-delete-project-button [project]="project"></taskbird-delete-project-button>
  </form>
</div>