{% extends "site/base.html" %}
{% block title %} Password Reset {% endblock %}

{% block body %}
  <p>Enter your email address to reset your password. You will receive an email with instructions. </p> <br/>
  
	<form action="/requestPasswordReset" method="post" class="ui form">
		{% csrf_token %}
      <div class="field">
         <label> Email </label>
         <input type="text" name="email" placeholder="">
      </div>
   
      <input class='ui blue button' type="submit" value="Submit">
	</form>
{% endblock %}