<a
  [ngClass]="{'inactive': !active, 'selected': selected, 'today': today, 'with-tasks': tasks.length > 0}"
  href="#day-{{ date.day }}"
  (click)="handleClick($event)">

  <div class="number">{{ date.day }}</div>

  <div 
    *ngIf="tasks && tasks.length"
    class="task-count">
    <span 
      class=" ui small circular label"
      [ngClass]="{ red: anyUndone(tasks) }">{{ tasks.length }}</span>
  </div>
  <div class='tasks-on-day'>
    <taskbird-calendar-task *ngFor="let task of tasks" [task]="task"></taskbird-calendar-task>
  </div>
</a>
